body {
  background-color: #f8f9fa;
  font-family: "Segoe UI", sans-serif;
}

table th, table td {
  text-align: center;
  vertical-align: middle;
}

h2 {
  margin-bottom: 20px;
}

form {
  max-width: 100%;
}

.btn + .btn {
  margin-left: 10px;
}

/* Barevné buňky podle množství */
.bg-light-danger {
  background-color: #f8d7da !important; /* světle červená pro 0 ks */
}

.bg-light-success {
  background-color: #d4edda !important; /* světle zelená pro 1 ks */
}

.bg-dark-success {
  background-color: #a6d5a3 !important; /* tmavě zelená pro 2 a více ks */
}
